* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/FUNDO.png);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "h h h"
    "f f f"
    "r r r";
}

header{
    grid-area: h;
}

content{
    grid-area: f;
}

.rodape{
    grid-area: r;
}

.headervermelho{
    background-color: rgba(119, 39, 39, 1);
    display: flex;
    align-items: center;
    height: 140px;
    width: 1903px;
}

.logo{
    padding: 30px;
    zoom: 150%
}

.minhaconta{
    padding-left: 440px;
}

.loginicon{
    zoom:60%;
    padding-left: 1300px;
    padding-top: 40px;
}

.email{
    color: white;
    padding-top: 30px;
    padding-left: 720px
}

.forms1{
    border: none;
    zoom: 300%
}

.senha{
    color: white;
    padding-top: 30px;
    padding-left: 720px
}

.forms2{
    border: none;
    zoom: 300%
}

.naopossuiconta{
    font-size: 12px;
    padding-left: 1000px;
}

a:hover {
    color: rgb(175, 60, 60);
}

a:link {
    color: rgb(255, 255, 255);
}

.submit {
    background-color: #913636;
    padding-left: 100px;
    border: none;
    border-radius: 70px;
    color: white;
    padding: 15px 30px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.submit2 {
    padding-left: 740px;
    padding-top: 40px
}

.rodape{
    color: white;
    background-color:#772727;
    display:flex;
    width:1903px;
    justify-content:center;
    align-items:center;
    column-gap: 60px;
    margin:100px 0;
    padding:30px 0;
    border-top: 1px solid rgb(94, 75, 75);
  }
  
  
  .rodape > ul{
    list-style-type: none;
  }
  
  .rodape > ul >li {
    padding-bottom: 20px;
    font-size:0.9rem;
}

.redeslogin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    padding-right: 20px;
}